sfdss/tests

sfdss/sfdss/settings.py

sfdss/resources/Constants.py

sfdss/uploads/__pycache__
sfdss/resources/__pycache__
sfdss/notifications/__pycache__
sfdss/sfdss/__pycache__
sfdss/students/__pycache__
sfdss/teachers/__pycache__

sfdss/uploads/migrations
sfdss/teachers/migrations
sfdss/students/migrations
sfdss/notifications/migrations

sfdss/students/admin.py
sfdss/teachers/admin.py
sfdss/students/admin.py
sfdss/notifications/admin.py
sfdss/uploads/admin.py

